<%=form_tag("/main/save_credentials", method: "get") do%>
  <select id="ssid" name="ap_info">
    <%for ap in @wifi_ap_hash do%>
        <option value='<%=ap[:ssid]%>+<%=ap[:encryption_type]%>'><%=ap[:ssid]%></option>
    <%end%>
  </select>

  <%=label_tag(:wifi_key, "Wifi Password: ")%>
  <%=text_field_tag(:wifi_key)%>

  <%=label_tag(:username, "Username: ")%>
  <%=text_field_tag(:username)%>

  <%=label_tag(:password, "Password: ")%>
  <%=text_field_tag(:password)%>

  <%=submit_tag("Connect")%>
<%end%>

<h2>Current Values<h2>

<ul>
  <%for current_value in @current_values%>
    <li><%=current_value%></li>
  <%end%>
</ul>

<%=form_tag("/main/reset_all", method: "get") do%>
  <%=submit_tag("RESET DEVICE")%>
<%end%>
